{% extends "base.html" %}
{% block title %}RecetasIvanR - Listas{% endblock %}
{% block content %}
<div class="post">
    <h1>Información de la receta</h1>
    <p>Nombre: {{recetas["name"]}}</p>
    <p>Autor: {{recetas["autor"]}}</p>
    <p>Descripción: {{recetas["desc"]}}</p>
    <p>Tiempo de preparación: {{recetas["prep"]}}</p>
    <p>Tiempo de cocina: {{recetas["cocina"]}}</p>
    <p>Comensales: {{recetas["comensales"]}}</p>
</div>
<section class="post">
    <h2>Ingredientes</h2>
    <ul>
        {% for ing in ingredientes %}
            <li>{{ing}}</li>
        {% endfor %}
    </ul>
</section>
<section class="post">
    <h2>Pasos</h2>
    {% if pasos != 0 %}
        <ol>
            {% for paso in pasos %}
                <li>{{paso}}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay pasos para esta receta.</p>
    {% endif %}
    <a href="/recetas">Volver</a>
</section>
{% endblock %}